* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html, body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

/* common */
.content {
  width: 1110px;
  max-width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 2);
  overflow: hidden;
}

/* header */

.fixed-header {
  background-color: #e6f0ff;
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 1;
}

.hero-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #e6f0ff;
  height: calc(100vh - 90px);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0 ;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}
.navbar ul a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  max-width: 51%;
}

.hero .sub-title {
  font-size: 18px;
  color: #687690;
  font-weight: 500;
  letter-spacing: 0.18px;
}

.hero .title {
  color: #000336;
  margin-top: 8px;
  font-size: 62px;
  font-weight: 700;
  line-height: 76px;
}

.hero .desc {
  color: #5a6473;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.hero .hero-cta {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 500;
  min-width: 170px;
}
.hero img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* ======Clients===== */
.clients {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}
.clients .desc {
  margin-top: 23px;
  color: #7d8589;
  font-size: 16px;
  font-weight: 500;
}

.clients .images {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ======Guides===== */

.guides {
  margin-top: 40px;
  padding: 93px 0 79px;
}
.guides .sub-title {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
}
.guides .sub-title::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  margin-top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  text-align: center;
  color: #5a6473;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide-item {
  margin: 0px 70px;
  text-align: center;
}

.guide-item .title {
  color: #3b3c45;
  font-size: 20px;
  font-weight: 500;
  margin-top: 26px;
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 14px;
  font-weight: 600;
}
.arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.guide-cta .btn {
  min-width: 170px;
}

/* ======Featured===== */

.featured {
  margin-top: 120px;
  background: #f5fafe;
  padding: 110px 165px;
}
.featured .sub-title {
  color: #000339;
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  color: #5a6473;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 18px;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .items {
  flex: 1;
  background: #fff;
  border-radius: 12px;
}

.featured .items .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.featured .items .body {
  padding: 17px 20px 24px;
}

.featured .items .title a {
  color: #000339;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px; /* 100% */
}

.featured .items .desc {
  color: #a3a6ab;
  font-size: 14px;
  font-weight: 500;
  margin-top: 11px;
  word-break: break-all;
}

.featured .items .info {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.featured .items .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.14px;
}

.featured .items .icon {
  margin-left: 23px;
}

.featured .items .icon:first-child {
  margin-left: 0;
}

/* ======Stats===== */

.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .contents {
  width: 1017px;
}

.stats .row {
  display: flex;
}

.stats .info,
.stats .img-block {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

.stats .stats-trend {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0 0 12px 12px;
}

.stats .value {
  color: #000339;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.26px;
}

.stats-trend .icon {
  margin-left: auto;
}

.stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.stats-trend .sparate {
  margin-top: 25px;
  height: 1.2px;
  background: #e9e9e9;
}

.stats .avatar-block {
  display: flex;
  gap: 16px 14px;
  flex-wrap: wrap;
  margin-top: 26px;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: -3px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--bg-color, #fff);
  font-weight: 450;
  font-size: 7px;
  letter-spacing: -0.02em;
  color: #fff;
}

.stats .avatar:first-child {
  margin-left: 0;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  color: #000339;
  font-size: 35px;
  font-weight: 600;
  line-height: 45px; /* 128.571% */
}

.stats .sub-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: -10px;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 32px;
}

.stats .qty {
  color: #000;
  font-size: 64px;
  font-weight: 600;
}

.stats .qty-desc {
  color: #7b8087;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

/* ======Newsletter===== */

.subscription {
  margin-top: 90px;
}

.subscription .body {
  position: relative;
  display: flex;
  align-items: center;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}

.subscription .info {
  padding: 0 80px;
  max-width: 100%;
  width: 671px;
}

.subscription .sub-title {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  line-height: 35px; /* 100% */
}

.subscription .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.subscription .btn {
  margin-top: 20px;
  min-width: 151px;
  background-color: #fff;
  color: #002366;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* ======Footer===== */

.footer {
  margin-top: 35px;
  padding: 50px 0 58px;
}

.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}

.footer .heading {
  color: #1c1c1d;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.footer .list {
  margin-top: 42px;
}

.footer .item {
  margin-top: 18px;
}

.footer .item a {
  color: #7a7a7e;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.footer .desc {
  margin-top: 40px;
  color: #7a7a7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer .social {
  display: flex;
  margin-top: 40px;
  gap: 16px;
}

.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.footer .social-link:hover {
  background-color: #ebebeb;
}

.footer .social-link + .social-link {
  margin-left: 12px;
}

.footer .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
}

.footer .copyright {
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 400;
}
